 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}






.classroom-nav{
     
    padding-top: 10px;
    background-color: #226f6f;
    height: auto;
    min-height: 6vw;
    max-height: 6vw;

}

.classroom-nav ul{
    display: flex;
    justify-items: left;
}

.classroom-nav ul img{
    height: 5vw;
    max-width:100%;
    
   
}

.classroom-nav ul li{ 
    list-style: none;
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif;
    color: #f5deb3;
    font-weight: bold;
    font-variant: small-caps;
}



.classroom-nav ul li:hover{
    color:#00ff00 ;
    transition:.4s;
    font-weight: bold;
    
}
/* Footer Section */
.footer-section{
    display: flex;
    gap:14rem;
    background-color: #226f6f;
    background:cover;
    justify-content: center;
    max-height: 100%;
    min-height: 100%;
    padding:0px 0px 10px 0px;    
}
.footer-section h3{
    color: beige;
    font-size: 2vw;
    font-variant: small-caps;
    font-style: oblique;
    font-stretch: extra-expanded;
    text-decoration:underline;    
}
.footer-section h3:hover{
    color: #00ff00;
    font-style: italic;
    font-size: 2.2vw;
    transition: .3s;
    font-weight: bold;
    text-decoration: overline;
}

.footer-section ul li{
    list-style: none;
    font-stretch: extra-expanded;
    padding: 8px 15px 4px 10px;
}

.footer-section ul li a:hover{
    color:#66ce66;
    padding-left: 5px;
    transition: .4s;
}

.footer-section ul li a{
    color: wheat;
    font-size: 1.5vw; 
    text-decoration-line: none;
}




