body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}



#classroomLogo{
    height: 50px;
    width: 50px;
    float: left;
    margin-left: px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: rgb(45, 33, 211);
}


nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
    background-color: rgb(45, 33, 211);
    height: 70px;
}


#logoname{ 
    font-size: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 1px;
    padding-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-weight: bold;
}



#logoname:hover{
    color: black;
    transition:.4s;
    font-weight: bold;
}


#help{
    color: black;
    float: left;
    margin-left: 20px;
    padding-top: 16px;
    padding-left: 2px;
    
    
}

#help:hover{
    color: aliceblue;
    transition: .3s;
    font-weight: bold;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li{
    display: inline;
    justify-content: center;
    
}

#container{
    background-color: rgb(87, 107, 199);
    height: 300px;
    padding-top: 2px;    
}

.help-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-style: normals;
    padding-top: 30px;

}


.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(225, 225, 225, 0.2);
    margin-left: 300px;
    align-items: center;
    border-radius: 60px
    
}
.search-bar input{
    background:transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding-left: 40px;
    padding-bottom: 35px;
    font-size: 20px;
    color: rgb(143, 188, 227);
}
::placeholder{
    color: rgb(0, 0, 0);
   
}