body{   
    width: 100%;
    margin: 0;
    padding: 0;   
    background-image: url(/image/bg-perfume.png);
    background-size: 100%;
    background-repeat: no-repeat;
}



.card-container{
   background-color:rgb(5, 57, 16);
   height: 100%;
   padding: 0.5rem;
   margin-bottom: 500px;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 6%;
   display: flex;
   border-radius: 10px;  
   justify-content: right; 
}

#description{
    width: 50%;
    color: white;
    margin-left: 5%;
}

#description h1{
    word-wrap: break-word;
    font-size: 1.2rem;
    color: rgb(162, 200, 196);    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#description h1:hover{
    color: grey;
    transition: 0.4s;
    font-weight:bold;
    word-wrap: break-word;
}

#description h2{
    width: 70%;
    font-size: 2rem;
    word-wrap: break-word;
}

#description h2:hover{
    color: chocolate;
    transition: 0.4s;
    font-style: oblique;
    word-wrap: break-word;    
}

#description p{
    font-style: oblique;
    font-size: 1rem;
    padding: 1%;
    word-wrap: break-word;
}

#description p:hover{
    color: rgb(141, 168, 194);
}

#price{
    display: flexbox;
    /* justify-content: center; */
    color: rgb(255, 255, 255);
    gap: 1rem;
    font-size: 40px;
    font-style: oblique;
    margin-top: 30px;
    margin-left: 5px;
    word-wrap: break-word;
}

#dummy-price{
    color: grey;
    font-size: 23px;
    margin-top: 15px;
    word-wrap: break-word;
}

#button{
    color: rgb(5, 57, 16);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    height: auto;
    
    margin-left: none;
    margin-top: 10%;
    padding: 1%;
    border-radius: 10px;
    border-color: black;
}

#button img{    
    background-color: rgb(201, 195, 204);
    height: auto;
    max-width: 40px;
    max-height: 80px;
    width: 100%;
}

#button h4{
    font-size: 1.2rem;
    width: 100%;
    word-wrap: break-word;
}
